<header>
  <nav class="header-row-top">
    <div class="logo-container">
      <a href="/">COLORFUL</a>
      <div></div>
    </div>
    <div class="header-search-container">
      <form action="/products/results" method="GET">
        <input type="text" name="search" value="<%= searchOptions.search %>" placeholder="<%= t("searchBarPlaceholder") %>" class="header-search-bar">
        <button type="submit" class="header-search-btn" id="search-button"><img src="/icons/search-icon-green.png" height="20"></button>
      </form>
    </div>
    <ul class="links-row-container">
      <li><a href="/about-us"><%= t("about") %></a></li>
      <li><a href="/contact-us"><%= t("contact") %></a></li>
      <li><a href="/join-us"><%= t("joinUs") %></a></li>
    </ul>
  </nav>
  <nav class="header-row-bottom">
    <ul>
      <li>
        <a href="/products"><%= t("all") + t("products") %>&dtrif;</a>
        <%- include('dropdown', items = categories) %>
      </li>
      <li>
        <a href="/manufacturers"><%= t("manufacturers") %>&dtrif;</a>
        <%- include('dropdown', items = manufacturers) %>
      </li>
      <li>
        <a href="/solutions"><%= t("solutions") %>&dtrif;</a>
        <%- include('dropdown', items = solutions) %>
      </li>
    </ul>
    <div class="lang-container"><span>Language</span></div>
  </nav>
</header>

<!-- <button id="switchToEnglish">English</button>
<button id="switchToChinese">Chinese</button> -->
