<!-- Carousel Part -->
<div class="index-page-container">
  <div class="main-carousel">
    <%- include('./partials/carousel', {
      pathToSlideFile: '_main_carousel',
      slidesCount: carouselImgCount,
      buttonStyle: 'main-carousel__button'
    }) %>
  </div>

  <div class="recently-added-wrapper">
    <h2><%= t("recentlyAdded") %></h2>
    <div class="recentProduct-carousel">
      <%- include('./partials/carousel', {
        pathToSlideFile: '_recentProducts_carousel',
        slidesCount: Math.ceil(recentProducts.length/5),
        buttonStyle: 'recentProducts-carousel__button',
      }) %>
    </div>
  </div>

  <div class="manufacturers-wrapper">
    <h2><%= t("featuredManufacturers") %></h2>
    <div class="manufacturers-logo-container">
      <% manufacturers.forEach(manufacturer => { %>
        <img src="/uploads/manufacturer-logo-placeholder.png" height="60">
      <% }) %>
  
      <!-- <div>
        <% manufacturers.forEach(manufacturer => { %>
          <div><%= manufacturer.name%></div>
        <% }) %>
      </div> -->
    </div>
  </div>
</div>


<script src="/javascripts/carousel.js"></script>
