<h2>Hi <%= name %> </h2>
<form action="/user/logout?_method=DELETE" method="POST">
  <button type="submit">Log Out</button>
</form>

<% if(role === "admin") { %>
  <a href="/user/register"><%= t("add") + t("user") %></a>
<% } %>

<nav>
  <a href="/"><%= t("mainPage") %></a>
  <ul>
    <li><a href="/manufacturers"><%= t("all") + t("manufacturers") %></a></li>
    <li><a href="/manufacturers/new"><%= t("add") + t("manufacturers") %></a></li>
    <li><a href="/products"><%= t("all") + t("products")%></a></li>
    <li><a href="/products/new"><%= t("add") + t("products") %></a></li>
    <li><a href="/solutions"><%= t("all") + t("solutions") %></a></li>
    <li><a href="/solutions/new"><%= t("add") + t("solutions") %></a></li>
  </ul>
</nav>