<div>
  <label><%= t("partNumber") %></label>
  <input type="text" name="partNumber" value = "<%= product.partNumber %>" required>
</div>

<div>
  <label><%= t("image") %></label>
  <input type="file" name="image" class="filepond"/>
</div>

<div>
  <label><%= t("manufacturer") %></label>
  <select name="manufacturer" required>
  <% manufacturers.forEach(manufacturer => { %>
    <% if (manufacturer.id === product.manufacturer) {%>
        <option selected label="<%= manufacturer.name %>" value="<%= manufacturer.id %>">
    <% } else { %>
        <option label="<%= manufacturer.name %>" value="<%= manufacturer.id %>">
    <% } %>
  <% }) %> 
  </select>
</div>

<div>
  <label><%= t("description") + `(` + t("en") + `)`%></label>
  <textarea name="description[]" required>
    <%= product.description ? product.description.en : '' %>
  </textarea>
</div>

<div>
  <label><%= t("description") + `(` + t("zh") + `)`%> </label>
  <textarea name="description[]" required>
    <%= product.description ? product.description.zh : '' %>
  </textarea>
</div>

<div>
  <label><%= t("packaging") + `(` + t("en") + `)`%> </label>
  <input type="text" name="packaging[]" value = "<%= product.packaging ? product.packaging.en : '' %>" required>
</div>

<div>
  <label><%= t("packaging") + `(` + t("zh") + `)`%> </label>
  <input type="text" name="packaging[]" value = "<%= product.packaging ? product.packagin.zh : '' %>" required>
</div>

<div>
  <label><%= t("packageCase") %></label>
  <select name="packageCase" required>
  <% packageCaseOptions.forEach(packageCase => { %>
    <% if (packageCase === product.packageCase) {%>
        <option selected label="<%= packageCase %>" value="<%= packageCase %>">
    <% } else { %>
        <option label="<%= packageCase %>" value="<%= packageCase %>">
    <% } %>
  <% }) %> 
  </select>
</div>

<div>
  <label><%= t("quantityAvaliable") %></label>
  <input type="number" name="stock" value = "<%= product.stock %>" required>
</div>

<div>
  <label><%= t("category") %></label>
  <select name="category" required>
  <% categories.forEach(category => { %>
    <% if (category === product.category) {%>
        <option selected label="<%= category %>" value="<%= category %>">
    <% } else { %>
        <option label="<%= category %>" value="<%= category %>">
    <% } %>
  <% }) %> 
  </select>
</div>

<div id="pricingTable"      
  data-quantity="<%= t('quantity') %>" 
  data-price="<%= t('price') %>"
  data-remove="<%= t('remove')  %>">
  <label><%= t("price") + `(` + t("inCents") + `)`%></label>
  <div class="pricingRow">
    <input type="number" placeholder="<%= t("quantity") %>" name="qty[]" required/>
    <input type="number" placeholder="<%= t("price") %>" name="price[]" required/>
    <button type="button" onclick="removeRow(this)"><%= t("remove") %></button>
  </div>
</div>
<button type="button" onclick="addRow()"><%= t("addPriceTier") %></button>


<div>
  <label><%= t("datasheet") %></label>
  <input type="file" name="dataSheet" class="filepond"/>
</div> 

