<div>
  <label>Part Number</label>
  <input type="text" name="partNumber" value = "<%= product.partNumber %>" required>
</div>

<div>
  <label>Image</label>
  <input type="file" name="image" class="filepond"/>
</div>

<div>
  <label>Manufacturer</label>
  <select name="manufacturer" required>
  <% manufacturers.forEach(manufacturer => { %>
    <% if (manufacturer.id === product.manufacturer) {%>
        <option selected label="<%= manufacturer.name %>" value="<%= manufacturer.id %>">
    <% } else { %>
        <option label="<%= manufacturer.name %>" value="<%= manufacturer.id %>">
    <% } %>
  <% }) %> 
  </select>
</div>

<div>
  <label>Description</label>
  <textarea name="description" required>
    <%= product.description %>
  </textarea>
</div>

<div>
  <label>Packaging</label>
  <input type="text" name="packaging" value = "<%= product.packaging %>" required>
</div>

<div>
  <label>Package Case</label>
  <select name="packageCase" required>
  <% packageCaseOptions.forEach(packageCase => { %>
    <% if (packageCase === product.packageCase) {%>
        <option selected label="<%= packageCase %>" value="<%= packageCase %>">
    <% } else { %>
        <option label="<%= packageCase %>" value="<%= packageCase %>">
    <% } %>
  <% }) %> 
  </select>
</div>

<div>
  <label>In Stock Number</label>
  <input type="number" name="stock" value = "<%= product.stock %>" required>
</div>

<div>
  <label>Category</label>
  <select name="category" required>
  <% categories.forEach(category => { %>
    <% if (category === product.category) {%>
        <option selected label="<%= category %>" value="<%= category %>">
    <% } else { %>
        <option label="<%= category %>" value="<%= category %>">
    <% } %>
  <% }) %> 
  </select>
</div>

<div id="pricingTable">
  <label>Pricing (In cents)</label>
  <div class="pricingRow">
    <input type="number" placeholder="Quantity" name="qty[]" required/>
    <input type="number" placeholder="Price" name="price[]" required/>
    <button type="button" onclick="removeRow(this)">Remove</button>
  </div>
</div>
<button type="button" onclick="addRow()">Add Another Price Tier</button>


<div>
  <label>Data Sheet</label>
  <input type="file" name="dataSheet" class="filepond"/>
</div> 

