<div class="all-product-container">
  <% if (category) { %>
    <h2><%= category %></h2>
  <% } else if (manufacturer) { %>
    <h2><%= manufacturer %></h2>
  <% } else { %>
    <h2><%= t("all") + t("products") %></h2>
  <% } %>
  
  <%- include('_products_table', {
    products: products
  }) %>
</div>

<%- include('_contact_widget') %>
